<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div class="sidebar-module" th:fragment="siteInfo">
    <h5 class="sidebar-title"><i class="fa fa-info icon"></i><strong>网站信息</strong></h5>
    <ul class="ul-default">
        <li><i class="fa fa-file fa-fw"></i> 文章总数：[[${blogModel.info.articleNum}]] 篇</li>
        <li><i class="fa fa-tags fa-fw"></i> 标签总数：[[${blogModel.info.tagNum}]] 个</li>
        <li><i class="fa fa-folder-open fa-fw"></i> 分类总数：[[${blogModel.info.catalogNum}]] 个</li>
        <!--<li><i class="fa fa-comments fa-fw"></i> 留言数量：50 条</li>-->
        <!--<li><i class="fa fa-users fa-fw"></i> 在线人数：<span class="online">11</span>人</li>-->
        <li><i class="fa fa-calendar fa-fw"></i> 运行天数：[[${blogModel.info.runDays}]] 天</li>
        <li><i class="fa fa-eye fa-fw"></i> 访问量：[[${blogModel.info.visitSize}]] 次</li>
        <li><i class="fa fa-pencil-square fa-fw"></i> 最后更新：2018年12月17日22点</li>
    </ul>
</div>
</body>
</html>