<!DOCTYPE html>
<html lang="zh-CN" class=""
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="baidu-site-verification" content="d4kcdwiGHw">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>[[${blogModel.blog.title}]]</title>
    <meta name="author" content="李攀(18380321869@163.com)">
    <meta name="keywords" th:content="${blogModel.blog.summary}">
    <meta name="description" th:content="${blogModel.blog.summary}" id="meta_description">
    <link rel="canonical" href="http://www.lipan.xyz">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jquery-confirm/2.5.1/jquery-confirm.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.1/css/bootstrapValidator.min.css" rel="stylesheet">
    <link href="/db/css/zhyd.core.css" rel="stylesheet" type="text/css">
    <link href="/db/css/zhyd.comment.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/editormd.preview.min.css"/>
    <link rel="stylesheet" href="/css/editormd.min.css"/>
</head>

<body>
<div th:replace="fragment/header :: #topmenu"></div>
<div th:replace="fragment/header :: #mainmenu"></div>
<img src="/db/img/default_article_cover.jpg" onerror="this.src='/db/img/default_article_cover.jpg'"
     style="display: none;" id="cover-img">
<div class="container custome-container">
    <nav class="breadcrumb">
        <a class="crumbs" title="" href="/" data-placement="bottom"><i class="fa fa-home"></i>首页</a>
        <i class="fa fa-angle-right"></i>
        <a th:href="'/catalog/' + ${blogModel.blog.catalog}" title="点击查看该分类文章" data-placement="bottom" th:text="${blogModel.blog.catalog}">后端技术</a>
        <i class="fa fa-angle-right"></i>正文
    </nav>
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-body overflow-initial fade-in">
                <div class="article-flag">
                    <span class="article-blockquote article-blockquote-green"></span>
                    <span class="article-original article-original-green"><a href="detail.html" th:text="${blogModel.blog.category}">原创</a></span>
                    <div class="blog-info-meta pull-right">
                        <ul class="list-unstyled list-inline">
                            <li><i class="fa fa-clock-o fa-fw"></i>发表于 [[${#dates.format(blogModel.blog.createTime,'yyyy-MM-dd')}]]</li>
                            <li><i class="fa fa-eye fa-fw"></i>
                                <a class="pointer" data-placement="bottom">阅读量 (<num>[[${blog.readSize}]]</num>)</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-info overflow-initial">
                    <div class="bottom-line">
                        <h1 class="blog-info-title">
                            <strong th:text="${blogModel.blog.title}">Cordova入门（一）创建android项目</strong>
                        </h1>
                    </div>
                    <div class="blog-info-body">
                        <div class="content editormd-preview-theme-dark" id="content"
                             th:utext="${blogModel.blog.htmlContent}"></div>
                    </div>
                    <div class="separateline"><span>正文到此结束</span></div>
                    <div id="social" style="margin-bottom: 45px;">
                        <div class="social-main">
									<span class="like">
										<a href="javascript:;" data-id="92" title="点赞" id="submitVote"><i class="fa fa-thumbs-up"></i>赞 <i class="count"></i> </a>
									</span>
                            <div class="shang-p">
                                <div class="shang-empty"><span></span></div>
                                <span class="shang-s"><a onclick="javascript:;" style="cursor:pointer">文</a> </span>
                            </div>
                            <div class="share-sd">
                                <span class="share-s"><a href="javascript:void(0)" id="share-s" title="感谢阅读"><i
                                        class="fa fa-share-alt"></i>感谢阅读</a></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="article-footer overflow-initial">所属分类：
                        <a th:href="'/catalog/' + ${blogModel.blog.catalog}" data-toggle="tooltip"
                           data-placement="bottom" th:text="${blogModel.blog.catalog}">后端技术</a>
                    </div>
                </div>
            </div>
            <div class="blog-body article-tag">
                <div class="cat">
                    <ul class="list-unstyled">
                        <li>
                            <strong>本文标签：</strong>
                            <span th:each="tag : ${blogModel.blogTags}">
                                <a th:href="'/tag/' + ${tag.tagName}" class="c-label" data-placement="bottom" target="_blank">[[${tag.tagName}]]</a>
                            </span>
                        </li>
                        <li>
                            <strong>版权声明：</strong> 本站原创文章，于[[${#dates.format(blogModel.blog.createTime,'yyyy-MM-dd')}]]由
                            <a href="https://www.lipan.xyz/" target="_blank" title="作者" data-placement="bottom"><strong>李攀</strong></a>发布，转载请注明出处
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3 blog-sidebar">
            <div class="sidebar-module article-module">
                <h5 class="sidebar-title"><i class="fa fa-book icon"></i><strong>本文目录</strong> <i class="fa fa-close pull-right close-article-menu hide pointer"></i></h5>
                <div id="article-menu" style="display: block;">
                    <ul class="list-unstyled">
                    </ul>
                </div>
            </div>
            <div class="sidebar-module">
                <h5 class="sidebar-title"><i class="fa fa-tags icon"></i><strong>文章标签</strong></h5>
                <ul class="list-unstyled list-inline">
                    <li class="tag-li" th:each="tag : ${blogModel.tags}">
                        <a class="btn btn-default btn-xs" th:href="'/tag/' + ${tag}" th:title="${tag}" data-placement="bottom">
                            [[${tag}]]
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div th:replace="fragment/site-info :: siteInfo"></div>
        </div>
    </div>
</div>

<div id="loading" style="display: none;">
    <div class="filter"></div>
    <div class="loader">
        <div class="loading-1"></div>
        <div class="loading-2">Loading...</div>
    </div>
</div>
<footer th:include="fragment/footer :: footer" th:align="center"></footer>
<a class="to-top" title="点击返回顶部" data-placement="bottom"
   style="position: fixed; right: 25px; bottom: 50px; cursor: pointer; display: none;"></a>
<script src="/js/jquery.min.js"></script>
<script src="/lib/marked.min.js"></script>
<script src="/lib/prettify.min.js"></script>
<script src="/js/editormd.min.js"></script>
<script type="text/javascript">
    editormd.markdownToHTML("content");
</script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-confirm/2.5.1/jquery-confirm.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script type="text/javascript"
        src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.1/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/js-xss/0.3.3/xss.min.js"></script>
<!--<script type="text/javascript" src="/db/js/wangEditor.min.js"></script>-->
<script type="text/javascript" src="/db/js/zhyd.core.js"></script>
<script type="text/javascript" src="/db/js/zhyd.js"></script>
<!-- comment插件会请求服务器获取评论内容，静态示例页面中不需要 -->
<!--<script type="text/javascript" src="/db/js/zhyd.comment.js"></script>-->
<script th:inline="javascript">
    var blogId = [[${blogModel.blog.id}]];
    var submitVoteUrl = '/' + [[${blogModel.blog.user.username}]] + '/submitVote/' + [[${blogModel.blog.id}]];
</script>
<script type="text/javascript" src="/js/pan/vote.js"></script>
<script src="https://v1.hitokoto.cn/?encode=js&c=d&select=%23hitokoto" defer></script>
</body>
</html>