<!DOCTYPE html>
<html lang="zh-CN" class=""
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="baidu-site-verification" content="d4kcdwiGHw">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Li Pan's 博客</title>
    <meta name="author" content="李攀(18380321869@163.com)">
    <meta name="keywords" content="博客,程序猿,程序员,后端开发,软件开发,WEB开发,Java攻城狮,全栈工程师,原创博客,个人原创网站,个人技术博客">
    <meta name="description" content="欢迎访问 Li Pan's 博客，这是一个程序员的个人技术博客，旨在分享工作和学习中用到的技术、遇到的疑难知识点，也为了备战自己的人生。心之所向，无所不能。" id="meta_description">
    <link rel="canonical" href="http://www.lipan.xyz/">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jquery-confirm/2.5.1/jquery-confirm.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.1/css/bootstrapValidator.min.css" rel="stylesheet">
    <link href="/db/css/zhyd.core.css" rel="stylesheet" type="text/css">
    <link href="/db/css/zhyd.comment.css" rel="stylesheet" type="text/css">
</head>

<body>
<div th:replace="fragment/header :: #topmenu"></div>
<div th:replace="fragment/header :: #mainmenu"></div>
<div class="container custome-container">
    <!--[if lt IE 9]>
    <div class="alert alert-danger topframe" role="alert">Oh My God！你的浏览器实在<strong>太太太太太太旧了</strong>，赶紧升级浏览器 <a
            target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div><![endif]-->
    <nav class="breadcrumb">
        <div class="notify"><i class="fa fa-volume-up"></i></div>
        <div id="scrolldiv">
            <div class="scrolltext">
                <ul class="list-unstyled" style="margin-top: 0px;">

                    <li class="scrolltext-title">
                        <a href="javascript:void(0)" rel="bookmark">本站域名:</a>
                        <a href="http://www.lipan.xyz"
                           target="_blank"><strong>www.lipan.xyz</strong></a>
                    </li>
                    <li class="scrolltext-title">
                        <a href="javascript:void(0)" rel="bookmark">博客细节功能待完善...</a>
                    </li>
                    <li class="scrolltext-title">
                        <a href="javascript:void(0)" rel="bookmark">为了19年的春招而准备</a>
                    </li>
                    <li class="scrolltext-title">
                        <a href="javascript:void(0)" rel="bookmark">大学生活马上就要结束了</a>
                    </li>
                    <li class="scrolltext-title">
                        <a href="javascript:void(0)" rel="bookmark">前路任重而道远，还需砥砺前行</a>
                    </li>
                    <li class="scrolltext-title">
                        <a href="javascript:void(0)" rel="bookmark">不会写C++的JAVA人员不是一个好UI，不会用Linux的程序员不是一个好DBA</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div>
                <article class="fade-in" th:each="blog : ${blogModel.blogList}">
                    <header class="entry-header">
                        <h2 class="entry-title">
                            <a th:href="'/blog/' + ${blog.id}" th:text="${blog.title}" rel="bookmark" title="点击查看文章详情" data-placement="bottom">Cordova入门（一）创建android项目</a>
                        </h2>
                    </header>
                    <div class="entry-content">
                        <div class="archive-content" th:text="${blog.summary}">
                            APP开发之路第一篇：使用Cordova创建并打包一个Android平台的app应用
                        </div>
                        <span class="title-l"></span>
                        <span class="entry-meta">
								<span class="date" title="文章发表日期" data-placement="bottom" th:text="${blog.createTime}"><i class="fa fa-calendar-o fa-fw"></i>2018-12-01</span>
								<span class="views" title="文章阅读次数" data-placement="bottom"><i class="fa fa-eye fa-fw"></i>浏览([[${blog.readSize}]])</span>
							</span>
                        <div class="clear"></div>
                        <span class="entry-more">
								<a th:href="'/blog/' + ${blog.id}" rel="bookmark" data-placement="bottom">阅读全文</a>
							</span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-sm-3 blog-sidebar">
            <div th:replace="fragment/me :: me"></div>
            <div class="sidebar-module">
                <h5 class="sidebar-title"><i class="fa fa-tags icon"></i><strong>文章标签</strong></h5>
                <ul class="list-unstyled list-inline">
                    <li class="tag-li" th:each="tag : ${blogModel.tags}">
                        <a class="btn btn-default btn-xs" th:href="'/tag/' + ${tag}" data-placement="bottom">
                            [[${tag}]]
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>

            <div th:replace="fragment/article :: article"></div>

            <div th:replace="fragment/site-info :: siteInfo"></div>
            <div></div>
        </div>
    </div>
</div>
<!-- loading弹窗 -->
<div id="loading">
    <div class="filter"></div>
    <div class="loader">
        <div class="loading-1"></div>
        <div class="loading-2">Loading...</div>
    </div>
</div>
<footer th:include="fragment/footer :: footer" th:align="center"></footer>
<a class="to-top" title="点击返回顶部" data-placement="bottom"
   style="position: fixed; right: 25px; bottom: 50px; cursor: pointer; display: none;"></a>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-confirm/2.5.1/jquery-confirm.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script type="text/javascript"
        src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.1/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/js-xss/0.3.3/xss.min.js"></script>
<!--<script type="text/javascript" src="/db/js/wangEditor.min.js"></script>-->
<script type="text/javascript" src="/db/js/zhyd.core.js"></script>
<script type="text/javascript" src="/db/js/zhyd.js"></script>
<script type="text/javascript" src="/js/pan/article.js"></script>
<!--<script type="text/javascript" src="/db/js/zhyd.comment.js"></script>-->
</body>
</html>