<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan.blog.dao.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="com.pan.blog.entity.Blog">
        <result column="id" property="id"/>
        <result column="catalog" property="catalog"/>
        <result column="category" property="category"/>
        <result column="comment_size" property="commentSize"/>
        <result column="create_time" property="createTime"/>
        <result column="image" property="image"/>
        <result column="read_size" property="readSize"/>
        <result column="summary" property="summary"/>
        <result column="title" property="title"/>
        <result column="update_time" property="updateTime"/>
        <result column="vote_size" property="voteSize"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <select id="getRecentArticles" resultType="com.pan.blog.entity.Blog">
        SELECT *
        FROM blog
        ORDER BY read_size DESC
        LIMIT 3, 7
    </select>
    <select id="getFirstArticleByReadSize" resultType="com.pan.blog.entity.Blog">
        SELECT *
        FROM blog
        ORDER BY read_size DESC
        LIMIT 1
    </select>
    <select id="getSecondArticleByReadSize" resultType="com.pan.blog.entity.Blog">
        SELECT *
        FROM blog
        ORDER BY read_size DESC
        LIMIT 1, 1
    </select>
    <select id="getThirdArticleByReadSize" resultType="com.pan.blog.entity.Blog">
        SELECT *
        FROM blog
        ORDER BY read_size DESC
        LIMIT 2, 1
    </select>
</mapper>