<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pan.blog.dao.BlogMapper">    <!--将这个接口指向对应的实现类,在接口中引入方法-->

    <select id="getRecentArticles" resultType="com.pan.blog.entity.Blog">
        SELECT * FROM blog ORDER BY read_size DESC LIMIT 3, 7
    </select>
    <select id="getFirstArticleByReadSize" resultType="com.pan.blog.entity.Blog">
        SELECT * FROM blog ORDER BY read_size DESC LIMIT 1
    </select>
    <select id="getSecondArticleByReadSize" resultType="com.pan.blog.entity.Blog">
        SELECT * FROM blog ORDER BY read_size DESC LIMIT 1, 1
    </select>
    <select id="getThirdArticleByReadSize" resultType="com.pan.blog.entity.Blog">
        SELECT * FROM blog ORDER BY read_size DESC LIMIT 2,1
    </select>
</mapper>