<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan.blog.dao.mapper.SiteInfoMapper">
    <resultMap id="BaseResultMap" type="com.pan.blog.entity.SiteInfo">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="article_num" jdbcType="BIGINT" property="articleNum"/>
        <result column="catalog_num" jdbcType="INTEGER" property="catalogNum"/>
        <result column="run_days" jdbcType="INTEGER" property="runDays"/>
        <result column="tag_num" jdbcType="INTEGER" property="tagNum"/>
        <result column="visit_size" jdbcType="BIGINT" property="visitSize"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, article_num, catalog_num, run_days, tag_num, visit_size
    </sql>
    <select id="selectByExample" parameterType="com.pan.blog.entity.SiteInfoExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from site_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.pan.blog.entity.SiteInfoExample">
        delete from site_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.pan.blog.entity.SiteInfo">
        INSERT INTO site_info (id, article_num, catalog_num,
                               run_days, tag_num, visit_size
        )
        VALUES (#{id,jdbcType=BIGINT}, #{articleNum,jdbcType=BIGINT}, #{catalogNum,jdbcType=INTEGER},
                #{runDays,jdbcType=INTEGER}, #{tagNum,jdbcType=INTEGER}, #{visitSize,jdbcType=BIGINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.pan.blog.entity.SiteInfo">
        insert into site_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="articleNum != null">
                article_num,
            </if>
            <if test="catalogNum != null">
                catalog_num,
            </if>
            <if test="runDays != null">
                run_days,
            </if>
            <if test="tagNum != null">
                tag_num,
            </if>
            <if test="visitSize != null">
                visit_size,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="articleNum != null">
                #{articleNum,jdbcType=BIGINT},
            </if>
            <if test="catalogNum != null">
                #{catalogNum,jdbcType=INTEGER},
            </if>
            <if test="runDays != null">
                #{runDays,jdbcType=INTEGER},
            </if>
            <if test="tagNum != null">
                #{tagNum,jdbcType=INTEGER},
            </if>
            <if test="visitSize != null">
                #{visitSize,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.pan.blog.entity.SiteInfoExample" resultType="java.lang.Integer">
        select count(*) from site_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update site_info
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.articleNum != null">
                article_num = #{record.articleNum,jdbcType=BIGINT},
            </if>
            <if test="record.catalogNum != null">
                catalog_num = #{record.catalogNum,jdbcType=INTEGER},
            </if>
            <if test="record.runDays != null">
                run_days = #{record.runDays,jdbcType=INTEGER},
            </if>
            <if test="record.tagNum != null">
                tag_num = #{record.tagNum,jdbcType=INTEGER},
            </if>
            <if test="record.visitSize != null">
                visit_size = #{record.visitSize,jdbcType=BIGINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update site_info
        set id = #{record.id,jdbcType=BIGINT},
        article_num = #{record.articleNum,jdbcType=BIGINT},
        catalog_num = #{record.catalogNum,jdbcType=INTEGER},
        run_days = #{record.runDays,jdbcType=INTEGER},
        tag_num = #{record.tagNum,jdbcType=INTEGER},
        visit_size = #{record.visitSize,jdbcType=BIGINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
</mapper>